oldcodes/
data/
seismic.py
*.o
wave
*.bin
bddiff
wave
bfdiff
d2a
d2f
oldwave
create_model
create_source
get_dt
test_domain
wavempi
test_domain_comm
test_ricker
test_sub_model
test_tic
test_velocity_model
